body {
    font: 14px arial, sans-serif;
    font-family: arial, helvetica;}
form {
    width: 700px;
    margin: 20px auto 0 auto;
}

table {
    width: 600px;
}

  input.a {
    background-repeat:no-repeat;
    padding:5px 5px 5px 25px;
    width:200px;
    }

    input:focus {
    outline:none;
    }

  input.a:invalid:required {    
    border:3px solid #ff0000;
    }

  input.a:focus:invalid {
    border:3px solid #ffff00;
    }

  input.a:valid {
    border:3px solid #00ff00;
    }

  textarea {
    width:230px;
    height:100px;
    }
